body {
  margin-left: 0px;
  margin-bottom: 0px;
}

.header {
  height: 80px;
  width: 1440px;
  background-color: rgba(10, 10, 10, 0.85);
  box-shadow: 0px 3px 5px;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 10;
}

.header-container {
  width: 1440px;
}

.header-left {
  float: left;
}

.header-right {
  float: left;
  margin-left: 300px;
}

.header-right li{
  font-weight: bold;
  color: white;
  list-style-type: none;
  float: left;
  padding-top: 10px;
  padding-right: 100px;
  font-size: 24px
}

.upper-logo {
  color: #990000;
  font-size: 18px;
  position: absolute;
  top: 15px;
  left: 60px;
  margin-top: 0px;
}

.lower-logo {
  color: #990000;
  font-size: 35px;
  position: absolute;
  top: 25px;
  left: 60px;
  margin-top: 0px
}

.top {
  width: 1440px;
}

.top-wrapper {
  margin-top: 80px;
  //background-color: rgba(255, 0, 0, 0.6);
}

.top {
  height: 500px;
  background-image: url(file:///Users/riki/Desktop/boss%20web%20pics/practice1.jpg);
  opacity: 0.9;
  background-size: cover;
  z-index: 0;
}

.top-comment {
  color: white;
  font-size: 60px;
  text-align: center;
}

.top-comment-block {
  padding-top: 110px;
}

.middle-wrapper {
  width: 1440px;
  height: 600px;
  margin-top: 160px;
  margin-bottom: 130px;
}

.middle {
  padding-left: 150px;
  padding-right: 150px;
  margin-left: 0px;
}

.equipment-image1 {
  float: left;
}

.equipment-image1 img {
  width: 500px;
  height: 355px;
}

.equipment-image2 {
  float: right;
  padding-top: 10px;
}

.equipment-image2 img {
  width: 630px;
}

.equipment-content1 {
  height: 135px;
  width: 610px;
  margin-left: 510px;
  padding-bottom: 15px;
  padding-left: 10px;
  padding-right: 10px;
  //padding-top: 10px;
}

.equipment-content1 {
  background-color: rgba(10, 10, 10, 0.85);
}

.equipment-content2 {
  margin-top: 4px;
  background-color: rgba(10, 10, 10, 0.85);
  height: 141px;
  width: 480px;
  padding-top: 8px;
  padding-left: 10px;
  padding-right: 10px;
  float: left;
}

.explanation-heading1 {
  color: white;
  padding-top: 10px;
}

.explanation {
  color: white;
}

.explanation-heading2 {
  color: white;
  margin-top: 1px;
}

.bottom-wrapper {
  background-color: rgba(10, 10, 10, 0.85);
  width: 1440px;
  font-size: 18px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.bottom {
  padding-top: 10px;
  margin-bottom: 150px;
  position: relative;
}

/* .bottom-left {
  padding-top: 30px;
} */

.bottom-logo-upper {
  color: #990000;
  font-size: 18px;
  position: absolute;
  top: 5px;
  left: 60px;
}

.bottom-logo-lower {
  color: #990000;
  font-size: 35px;
  position: relative;
  top: 0px;
  left: 60px;
}

.bottom-content {
  position: absolute;
  top: 5px;
}

.bottom-content li {
  list-style: none;
  color: rgba(192, 192, 192, .8);
  margin-top: 10px;
  margin-left: 300px;
}

.bottom-content ul{
  float: left;
}

.sns-links {
  padding-left: 200px;
  padding-top: 40px;
  float: left;
}

.fa {
  margin-left: 80px;
  font-size: 80px;
  float: left;
}
